<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <img src="https://www.newgaspol.com/server_api/gambar/ic_launcher.png" alt="" width="50" height="50" class="head-logo">
    <ion-title slot="end" class="title">
      History Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
